@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?a526a19165444d53f3fd75f05148d0ca") format("truetype"),
url("./flaticon.woff?a526a19165444d53f3fd75f05148d0ca") format("woff"),
url("./flaticon.woff2?a526a19165444d53f3fd75f05148d0ca") format("woff2"),
url("./flaticon.eot?a526a19165444d53f3fd75f05148d0ca#iefix") format("embedded-opentype"),
url("./flaticon.svg?a526a19165444d53f3fd75f05148d0ca#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-radiator:before {
    content: "\f101";
}
.flaticon-cctv:before {
    content: "\f102";
}
.flaticon-air-conditioner:before {
    content: "\f103";
}
.flaticon-idea:before {
    content: "\f104";
}
.flaticon-chip:before {
    content: "\f105";
}
