$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0e5cd4036f1d0e643bf9c9adcb6856bf") format("truetype"),
url("./flaticon.woff?0e5cd4036f1d0e643bf9c9adcb6856bf") format("woff"),
url("./flaticon.woff2?0e5cd4036f1d0e643bf9c9adcb6856bf") format("woff2"),
url("./flaticon.eot?0e5cd4036f1d0e643bf9c9adcb6856bf#iefix") format("embedded-opentype"),
url("./flaticon.svg?0e5cd4036f1d0e643bf9c9adcb6856bf#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "radiator": "\f101",
    "cctv": "\f102",
    "air-conditioner": "\f103",
    "integrated-circuit": "\f104",
    "electric-tower": "\f105",
    "house": "\f106",
);

.flaticon-radiator:before {
    content: map-get($flaticon-map, "radiator");
}
.flaticon-cctv:before {
    content: map-get($flaticon-map, "cctv");
}
.flaticon-air-conditioner:before {
    content: map-get($flaticon-map, "air-conditioner");
}
.flaticon-integrated-circuit:before {
    content: map-get($flaticon-map, "integrated-circuit");
}
.flaticon-electric-tower:before {
    content: map-get($flaticon-map, "electric-tower");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
