.elect-top{
    height: 52px;
    background-color: rgba(1, 1, 32, 0.835);
    font-size: 16px;
    font-weight: 500;
    color: rgb(195, 192, 192);
}
.cart{color: white;}
.icon, .cart:hover, .dropdown-content a:hover{
    color: rgb(255, 103, 47);
    transition: 0.5s ease-in-out;
}

.navbar{
  min-height: 80px;
}
.navbar-nav{
  font-size: 17px;
}
.navbar-nav .nav-item .nav-link{
  font-weight: 600;
  color: rgb(58, 54, 54);
}
.navbar-nav .nav-item .nav-link:hover,.navbar-nav .nav-item .nav-link.active{
  color: rgb(255, 103, 47);
  transition: 0.1s ease-in-out;
}
.nav-link-button{
  width: 150px;
  height: 50px;
  color: white;
  background-color: rgb(255, 103, 47);
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
}
.nav-link-button:hover{
  transition: 0.5s ease-in-out;
  color: rgb(255, 103, 47);
  background-color: white;
  border: 1px solid rgb(255, 103, 47);
}


.navbar-brand{
    font-size: 40px;
    font-weight: bold;
    display: flex;
}
.navbar-brand img{
    position:absolute;
    margin-top: 5px;
    transform: rotate(8deg);
}
.navbar-brand span{
    margin: 0px 0px 0px 16px;
    color: rgb(58, 54, 54);
}





  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; transition: 0.5s ease-in-out;}
  
